# ':'-delimited list of modules whose deps are comprehensive for runtime
# see github.com/promet/drop_ship
PROJECT=default
export DROPSHIP_SEEDS=$PROJECT

# Do not include the trailing slash!
# Example: 'http://site.com'
export STAGE_FILE_PROXY_DOMAIN=''

# Defaults to 'sites/default/files'.
# Only necessary to set if the files directory is somewhere else.
# Example: 'sites/all/files'
export STAGE_FILE_PROXY_FILES_DIR=''

